

/* stylelint-disable */
* {
  padding: 0;
  margin: 0;
}

button {
  box-shadow: 2px 2px 2px black;
}

button:hover {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  font-family: 'Press Start 2P', cursive;
  font-size: 12px;

  background-color: rgb(0, 0, 0);


  display: flex;
  justify-content: center;
  align-items: center;
 
}

/* Container-Imagen for the background */
.container-background {
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/kitchen-los-simpsons.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Main section */
.section-container {
  border: 15px solid #000;
  width: 59vw;
  height: 78.5vh;
  margin: 5vh auto;
  padding: 0 20px 20px 20px;
  border-radius: 20px 20px 0 0;
  background-image: url(/assets/wallpaperflare.com_wallpaper.jpg);
  background-size: 120% 100%;
  background-repeat: no-repeat;
  
  background-color: rgba(255, 255, 255, 0.085);
  display: flex;
  flex-direction: column;
}

.title-leaderBoard {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 20px 20px 5px 20px;
}

.title-leaderBoard span {
  color: white;
  text-shadow: 10px 10px 5px black;
  font-size: 20px;
}

.title-leaderBoard .fa-brands {
  color: rgb(233, 230, 230);
  text-shadow: 0 7px rgb(0, 0, 0);
  margin-right: 10px;
  font-size: 50px;
}

/* tables container */
.tables-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;

  height: 100%;
  border-radius: 2px;
}

/* table left */
.tb-recentScores {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: fit-content;
  max-height:58vh;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.535);
  border-radius: 5px;
  scroll-behavior: smooth;
}

.tableLcont-title-botton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-recentScores {
  font-size: 14px;
}

/* Refresh button */
.button-recentScores {
  font-size: 20px;
  font-weight: 700;
  border-radius: 0;
  padding: 0 2px 0 2px;
  margin: 0;
}







.ul-score {
  list-style: none;
  border: 2px solid rgb(131, 130, 130);
  overflow-y: scroll;
}

.ul-score li{
  font-size: 8px;
  padding: 3px;
  letter-spacing: 2px;
}

.ul-score li:nth-child(even){
  background-color: rgba(0, 0, 0, 0.492);
  color: rgb(250, 250, 250);
}

.ul-score li:nth-child(odd){
  background-color: rgba(255, 255, 255, 0.54);
  color: #000;
}

/* table right */
.container-addYourScore {
  /* background-image: url(/assets/add-your-score.jpg);
  background-size: 150% 150%;
  background-repeat: no-repeat; */

  width: 30%;
  height: fit-content;
  
  margin-top: 5%;
  border-radius: 30px;
}

.tb-addYourScores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

  background-color: rgba(255, 255, 255, 0.315);
  border-radius: 30px;
}

.title-addYourScores {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 15px 0 15px 0;
  height: fit-content;
  width: 100%;
}

/* Icon of airplane */
.title-addYourScores i {
  font-size: 40px;
  color: white;
}

.title-addYourScores i:hover {
  transform: scale(1.2);
  color: rgb(245, 3, 3);
  text-shadow: -30px 0 5px rgb(0, 0, 0);
}

.title-addYourScores span {
  padding: 0;
  font-size: medium;
  color: white;
  text-shadow: 0 0 15px rgb(0, 0, 0);
}

.container-input {
  display: flex;
  justify-content: space-around;
}

.container-input i {
  font-size:2rem;
  width: 20%;
  color: rgba(255, 255, 255, 0.529);
  text-align: center;
}

input {
  font-size: 10px;
  margin: 0 0 20px 0;
  padding: 10px;
  font-family: 'Press Start 2P', cursive;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid white;
}

.input-name {
  width: 70%;
}

input::placeholder {
 
  color: rgb(0, 0, 0);
  text-shadow: 0 0 5px rgb(255, 255, 255);
  font-family: 'Press Start 2P', cursive;
}

.button-addYourScores {
  font-size: 100%;
  font-weight: 700;
  border-radius: 50%;
  padding: 0 2px 0 2px;
  margin: 10px 0 0 auto;
  width: 5vw;
  height: 5vw;
  background-color: red;
  box-shadow: 5px 3px 1px black;
  color: white;
}

.button-addYourScores:active{
  top:10px;
  background-color:#38a900;
  box-shadow:  0 1px 0 rgb(153, 153, 153), inset 0 -3px 0 black;
}

@media screen and (max-width: 762px) {

  .tb-recentScores {
    width: 50%;
    max-height:50vh;
  }

  .container-addYourScore {
    width: 50%;
  }

  .title-addYourScores i {
    display: none;
  }

  .title-addYourScores span {
    font-size: 1rem;
  }

  .container-input  {
    font-size: 5px;
  }

  .container-input i {
    display: none;
  }


}