

/* stylelint-disable */
* {
  padding: 0;
  margin: 0;
}

input {
  border: 2px solid #000;
  font-size: 12px;
  padding: 3px;
}

button {
  box-shadow: 2px 2px 2px black;
}

button:hover {
  cursor: pointer;
  transform: scale(0.9);
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;

  font-family: 'Press Start 2P', cursive;
  font-size: 12px;

  background-color: rgb(0, 0, 0);


  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container-Imagen for the background */
.container-background {
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/kitchen-los-simpsons.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Main section */
.section-container {
  border: 15px solid #000;
  width: 59vw;
  height: 78.5vh;
  margin: 5vh auto;
  padding: 0 20px 20px 20px;
  border-radius: 20px 20px 0 0;
  background-image: url(/assets/wallpaperflare.com_wallpaper.jpg);
  background-size: 120% 100%;
  background-repeat: no-repeat;
  
  background-color: rgba(255, 255, 255, 0.085);
  display: flex;
  flex-direction: column;
}

.title-leaderBoard {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 20px 20px 5px 20px;
}

.title-leaderBoard span {
  color: white;
  text-shadow: 10px 10px 5px black;
  font-size: 20px;
}

.title-leaderBoard .fa-brands {
  color: rgb(233, 230, 230);
  text-shadow: 0 7px rgb(0, 0, 0);
  margin-right: 10px;
  font-size: 50px;
}

/* tables container */
.tables-container {
  display: flex;
  justify-content: space-around;
  margin: 10px;

  height: 100%;
  border-radius: 2px;
}

/* table left */
.tb-recentScores {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: fit-content;
  max-height: 390px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.535);
  border-radius: 5px;
}

.tableLcont-title-botton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.title-recentScores {
  font-size: 14px;
}

.button-recentScores {
  font-size: 8px;
  font-weight: 700;
  border-radius: 0;
  padding: 0 2px 0 2px;
  margin: 0;
}

.ul-score {
  list-style: none;
  border: 2px solid rgb(131, 130, 130);
  overflow-y: scroll;
}

.ul-score li{
  font-size: 8px;
  padding: 3px;
  letter-spacing: 2px;
}

.ul-score li:nth-child(even){
  background-color: rgba(0, 0, 0, 0.492);
  color: rgb(250, 250, 250);
}

.ul-score li:nth-child(odd){
  background-color: rgba(255, 255, 255, 0.54);
  color: #000;
}

/* table right */
.tb-addYourScores {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  height: 30%;
  padding: 10px;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 0.535);
  border-radius: 30px;
}

.title-addYourScores {
  font-size: 12px;
  display: flex;
  justify-content: center;
}

.input-name {
  margin: 10px 0;
}

input::placeholder {
  font-size: 10px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.726);
  padding-left: 5px;
}

.button-addYourScores {
  font-size: 8px;
  font-weight: 700;
  border-radius: 0;
  padding: 0 2px 0 2px;
  margin: 10px 0 0 auto;
  width: fit-content;
  

}